**/.git
**/.github
**/.vs
**/.vscode
**/.idea
**/.settings
**/bin
**/obj
**/node_modules
**/dist
**/build
coverage/
test-results/
*.user
*.suo
*.launch
.env
Dockerfile
docker-compose.yml
docker-compose.override.yml
